/* style.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(241, 205, 165);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.menu ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-left: 20px;
}

.menu a {
  color: white;
  text-decoration: none;
}

.burger {
  display: none; /* пока скрыта */
  font-size: 24px;
  cursor: pointer;
}

main {
  padding: 60px;
}


.item {
  background: lightblue;
  padding: 20px;
  text-align: center;
}



/*FOOter*/
footer {
  background-color: var(--white);
  color: #b014be;
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.footer-content ul.socials {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.footer-content ul.socials li {
  margin: 0 10px;
}

.footer-content ul.socials a {
  color: #b014be;
  font-size: 18px;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 15px;
  font-size: 14px;
}
@media (max-width: 768px) {
  .menu ul {
    display: none; /* скрываем меню */
    flex-direction: column;
    background: #444;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
  }

  .menu ul.active {
    display: flex; /* показываем при клике */
  }

  .burger {
    display: block; /* показываем бургер */
  }
  /* планшет */
@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* телефон */
@media (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}

}

